# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json
.forceignore

# VSCode settings
.vscode/

# LWC VSCode autocomplete
**/lwc/jsconfig.json
**/lwc/.eslintrc.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Salesforce Metadata Types
force-app/main/default/apexEmailNotifications/
force-app/main/default/samlssoconfigs/
force-app/main/default/objectTranslations/
force-app/main/default/flowDefinitions/
force-app/main/default/cleanDataServices/
force-app/main/default/managedContentTypes/
force-app/main/default/siteDotComSites/
force-app/main/default/matchingRules/
force-app/main/default/duplicateRules/
force-app/main/default/communities/
force-app/main/default/connectedApps/
force-app/main/default/emailservices/
force-app/main/default/installedPackages/
force-app/main/default/siteDotComSites/
force-app/main/default/certs/

# Salesforce specific metadata files
force-app/main/default/objects/Task/listViews/CompletedTasks.listView-meta.xml
force-app/main/default/objects/Task/listViews/DelegatedTasks.listView-meta.xml
force-app/main/default/objects/Task/listViews/OpenTasks.listView-meta.xml
force-app/main/default/objects/Task/listViews/OverdueTasks.listView-meta.xml
force-app/main/default/objects/Task/listViews/RecurringTasks.listView-meta.xml
force-app/main/default/objects/Task/listViews/TodaysTasks.listView-meta.xml
force-app/main/default/objects/Task/listViews/UnscheduledTasks.listView-meta.xml
force-app/main/default/appMenus/AppSwitcher.appMenu-meta.xml
force-app/main/default/settings/Address.settings-meta.xml
force-app/main/default/settings/Security.settings-meta.xml
force-app/main/default/settings/Deployment.settings-meta.xml
force-app/main/default/settings/Event.settings-meta.xml

# Added by Illuminated Cloud
/IlluminatedCloud/
/out/
target/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
